#grid-container {
  width: 512px;
  height: 512px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#grid-container div {
  flex-grow: 1;
  background-color: white;
}