* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 535px;
  width: 500px;
  border: 2px solid black;
  box-shadow: 3px 3px 5px grey;
}

#grid-container div {
  border: 1px solid wheat;
}

#clear-grid {
  padding: 12px;
  margin: 16px;
}